<div>
    <ul>
        <li>
            <span class="badge text-bg-success"><p><b>Name:</b> {{name}}</p></span>
        </li>
    </ul>
</div>

<br>

<div>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">{{>title data="User:"}}</a>
    <ul>
        {{#each users}}
            <li>
                <div class="card card-body">
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>Gender:</b> {{gender}}</p>
                <p><b>Age:</b> {{age}}</p>
                </div>
            </li>
    </ul>
</div>

<br>

<div>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">{{>title data="Friend:"}}</a>
    <ul>
        {{#each friends}}
            <li>
                <div class="card card-body">
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>Gender:</b> {{gender}}</p>
                <p><b>Age:</b> {{age}}</p>
                </div>
            </li>
    </ul>
</div>

<br>

<div>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">{{>title data="Mutual_friend:"}}</a>
    <ul>
        {{#each mutual_friends}}
            <li>
                <div class="card card-body">
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>Gender:</b> {{gender}}</p>
                <p><b>Age:</b> {{age}}</p>
                </div>
            </li>
    </ul>
</div>

<br>

<div>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">{{>title data="Mutual_friend:"}}</a>
    <ul>
        {{#each mutual_friends}}
            <li>
                <div class="card card-body">
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>Gender:</b> {{gender}}</p>
                <p><b>Age:</b> {{age}}</p>
                </div>
            </li>
        {{/each}}
        {{/each}}
        {{/each}}
    </ul>
</div>

<br>

<div>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">{{>title data="Group:"}}</a>
    <ul>
        {{#each groups}}
            <li>
                <div class="card card-body">
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>Description:</b> {{description}}</p>
                </div>
            </li>
    </ul>
</div>

<br>

<div>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">{{>title data="Member:"}}</a>
    <ul>
        {{#each members}}
            <li>
                <div class="card card-body">
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>Gender:</b> {{gender}}</p>
                <p><b>Age:</b> {{age}}</p>
                </div>
            </li>
    </ul>
</div>

<br>

<div>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">{{>title data="Member:"}}</a>
    <ul>
        {{#each members}}
            <li>
                <div class="card card-body">
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>Gender:</b> {{gender}}</p>
                <p><b>Age:</b> {{age}}</p>
                </div>
            </li>
        {{/each}}
        {{/each}}
        {{/each}}
    </ul>
</div>

<br>

<div>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">{{>title data="Friend:"}}</a>
    <ul>
        {{#each friends}}
            <li>
                <div class="card card-body">
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>Gender:</b> {{gender}}</p>
                <p><b>Age:</b> {{age}}</p>
                </div>
            </li>
    </ul>
</div>

<br>

<div>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">{{>title data="Mutual_friend:"}}</a>
    <ul>
        {{#each mutual_friends}}
            <li>
                <div class="card card-body">
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>Gender:</b> {{gender}}</p>
                <p><b>Age:</b> {{age}}</p>
                </div>
            </li>
    </ul>
</div>

<br>

<div>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">{{>title data="Mutual_friend:"}}</a>
    <ul>
        {{#each mutual_friends}}
            <li>
                <div class="card card-body">
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>Gender:</b> {{gender}}</p>
                <p><b>Age:</b> {{age}}</p>
                </div>
            </li>
        {{/each}}
        {{/each}}
    </ul>
</div>

<br>

<div>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">{{>title data="Group:"}}</a>
    <ul>
        {{#each groups}}
            <li>
                <div class="card card-body">
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>description:</b> {{description}}</p>
                </div>
            </li>
    </ul>
</div>

<br>

<div>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">{{>title data="Member:"}}</a>
    <ul>
        {{#each members}}
            <li>
                <div class="card card-body">
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>Gender:</b> {{gender}}</p>
                <p><b>Age:</b> {{age}}</p>
                </div>
            </li>
        {{/each}}
    </ul>
</div>

<br>

<div>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">{{>title data="Member:"}}</a>
    <ul>
        {{#each members}}
            <li>
                <div class="card card-body">
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>Gender:</b> {{gender}}</p>
                <p><b>Age:</b> {{age}}</p>
                </div>
            </li>
        {{/each}}
        {{/each}}
        {{/each}}
        {{/each}}
    </ul>
</div>