<div>
    <ul>
        <li>
            <p><b>Name:</b> {{name}}</p>
        </li>
    </ul>
</div>

<br>

<div>
    {{>title data="User:"}}
    <ul>
        {{#each users}}
            <li>
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>Gender:</b> {{gender}}</p>
                <p><b>Age:</b> {{age}}</p>
            </li>
    </ul>
</div>

<br>

<div>
    {{>title data="Friend:"}}
    <ul>
        {{#each friends}}
            <li>
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>Gender:</b> {{gender}}</p>
                <p><b>Age:</b> {{age}}</p>
            </li>
    </ul>
</div>

<br>

<div>
    {{>title data="Mutual_friend:"}}
    <ul>
        {{#each mutual_friends}}
            <li>
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>Gender:</b> {{gender}}</p>
                <p><b>Age:</b> {{age}}</p>
            </li>
    </ul>
</div>

<br>

<div>
    {{>title data="Mutual_friend:"}}
    <ul>
        {{#each mutual_friends}}
            <li>
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>Gender:</b> {{gender}}</p>
                <p><b>Age:</b> {{age}}</p>
            </li>
    </ul>
</div>

<br>

<div>
    {{>title data="Group:"}}
    <ul>
        {{#each groups}}
            <li>
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>Description:</b> {{description}}</p>
            </li>
    </ul>
</div>

<br>

<div>
    {{>title data="Member:"}}
    <ul>
        {{#each members}}
            <li>
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>Gender:</b> {{gender}}</p>
                <p><b>Age:</b> {{age}}</p>
            </li>
        {{/each}}
        {{/each}}
    </ul>
</div>

<br>

<div>
    {{>title data="Mutual_friend:"}}
    <ul>
        {{#each mutual_friends}}
            <li>
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>Gender:</b> {{gender}}</p>
                <p><b>Age:</b> {{age}}</p>
            </li>
        {{/each}}
    </ul>
</div>

<br>

<div>
    {{>title data="Group:"}}
    <ul>
        {{#each groups}}
            <li>
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>description:</b> {{description}}</p>
            </li>
    </ul>
</div>

<br>

<div>
    {{>title data="Member:"}}
    <ul>
        {{#each members}}
            <li>
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>Gender:</b> {{gender}}</p>
                <p><b>Age:</b> {{age}}</p>
            </li>
        {{/each}}
    </ul>
</div>

<br>

<div>
    <ul>
            <li>
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>description:</b> {{description}}</p>
            </li>
    </ul>
</div>

<br>

<div>
    {{>title data="Member:"}}
    <ul>
        {{#each members}}
            <li>
                <p><b>Id:</b> {{id}}</p>
                <p><b>Name:</b> {{name}}</p>
                <p><b>Gender:</b> {{gender}}</p>
                <p><b>Age:</b> {{age}}</p>
            </li>
        {{/each}}
        {{/each}}
        {{/each}}
        {{/each}}
        {{/each}}
        {{/each}}
    </ul>
</div>