<div>
  {{#with person}}
        <section>
            <div>
                {{> title data="Persons" big=true}}
                <ul>
                    {{#each education}}
                    <li>
                        <p>{{name}}</p>
                        <p>{{age}}</p>
                        <p>{{gender}}</p>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </section>

        <hr>
            
        <section>
            <div>
                {{> title data="Address" big=true}}
                <ul>
                    <li>
                        {{street}}
                        {{city}}
                        {{state}}
                        {{zip}}
                        {{country}}
                    </li>
                </ul>
            </div>
        </section>
  {{/with}}
</div>