<div>
  {{#with person}}
        <section>
            <div>
                {{> title data="Persons:" big=true}}
                <ul>
                    <li>
                        <p><b>Name:</b> {{name}}</p>
                        <p><b>Age:</b> {{age}}</p>
                        <p><b>Gender:</b> {{gender}}</p>
                    </li>   
                </ul>
            </div>
        </section>

        <hr>
            
        <section>
            <div>
                {{> title data="Address:" big=true}}
                <ul>
                    {{#with address}}
                    <li>
                        <p><b>Street:</b> {{street}}</p>
                        <p><b>City:</b> {{city}}</p>
                        <p><b>State:</b> {{state}}</p>
                        <p><b>Zip:</b> {{zip}}</p>
                        <p><b>Country:</b> {{country}}</p>
                    </li>
                    {{/with}}
                </ul>
            </div>
        </section>

        <hr>

        <section>
            <div>
                {{> title data="Educations:" big=true}}
                <ul>
                    {{#each education}}
                        <li>
                            <p><b>Degree:</b> {{degree}}</p>
                            <p><b>Major:</b> {{major}}</p>
                            <p><b>University:</b> {{university}}</p>
                            <p><b>GraduationYear:</b> {{graduationYear}}</p>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </section>

        <hr>

        <section>
            <div>
                {{> title data="WorkExperiences:" big=true}}
                <ul>
                    {{#each workExperience}}
                        <li>
                            <p><b>Company:</b> {{company}}</p>
                            <p><b>Title:</b> {{title}}</p>
                            <p><b>StartDate:</b> {{startDate}}</p>
                            <p><b>EndDate:</b> {{endDate}}</p>

                            <br>

                            <p><b>Responsibilities:</b> {{responsibilities}}</p>

                            <br>

                            <p><b>Year_founded:</b> {{year_founded}}</p>
                            <p><b>Industry:</b> {{industry}}</p>
                        </li>
                   
                <hr>

                        <section>
                            <div>
                                {{> title data="Employees:" big=true}}
                                <ul>
                                    {{#each employees}}
                                        <li>
                                            <p><b>Name:</b> {{name}}</p>
                                            <p><b>Position:</b> {{position}}</p>
                                            <p><b>Department:</b> {{department}}</p>
                                        </li>


                                        <section>
                                            <div>
                                                {{> title data="Projects:" big=true}}
                                                <ul>
                                                    {{#each projects}}
                                                        <li>
                                                            <p><b>Name:</b> {{name}}</p>
                                                            <p><b>Description:</b> {{description}}</p>
                                                            <p><b>Status:</b> {{status}}</p>
                                                        </li>

                                                        <br>

                                                        <div>
                                                            {{> title data="Teams:" big=true}}
                                                            <ul>
                                                            {{#each teams}}
                                                            <li>
                                                                <p><b>Team_name:</b> "{{team_name}}"</p>
                                                               
                                                                <p>John Smith (Team Leader)</p>
                                                                john.smith@example.com
                                                                
                                                            </li>
                                                            
                                                            </ul>

                                                            <br>
                                                                
                                                                <div>
                                                                    {{> title data="Team_members:" big=true}}
                                                                    <ul>
                                                                        {{#each team_members}}
                                                                        <li>
                                                                            <p><b>Name:</b> {{name}}</p>
                                                                            <p><b>Title:</b> {{title}}</p>
                                                                            <p><a href="mailto: {{email}}">{{email}}</a></p>
                                                                            <p><b>Skills:</b> {{skills}}</p>
                                                                        </li>

                                                                        <br>

                                                                            <div>
                                                                                {{> title data="Projects:" big=true}}
                                                                                <ul>
                                                                                    {{#each projects}}
                                                                                    <li>
                                                                                        <p><b>Name:</b> {{name}}</p>
                                                                                        <p><b>Description:</b> {{description}}</p>
                                                                                        <p><b>Technologies:</b> {{technologies}}</p>
                                                                                    </li>

                                                                                    <br>
                                                                                        
                                                                                        <div>
                                                                                            {{> title data="Team_members:" big=true}}
                                                                                            <ul>
                                                                                                {{#each team-members}}
                                                                                                <li>
                                                                                                    <p>{{name}} ({{title}})</p>
                                                                                                </li>
                                                                                                {{/each}}
                                                                                            </ul>    
                                                                                        </div>
                                                                                    {{/each}}
                                                                                </ul>
                                                                            </div>
                                                                        {{/each}}
                                                                    </ul>
                                                                </div>
                                                            {{/each}}
                                                        </div>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                        </section>
                                    {{/each}}
                                </ul>
                            </div>
                        </section>
                    {{/each}}
                </ul>
            </div>
        </section>
    {{/with}}
</div>