<main class='p-5'>
  <div class='text-center'>
    {{#with page_header}}
      <h1>{{title}}</h1>
      <div class='text-uppercase'><p
        >{{description}}</p></div>
    {{/with}}
  </div>

{{#with section}}
    {{#with about_us}}
        {{#with title_list}}
            <div class='card mb-4'>
                <div class='card-body'>
                <div class='text-end'>
                    <div class='display-6'>{{main}}</div>
                    <h2>{{sub}}</h2>
                </div>
        {{/with}}
            {{#with button}}
                <div class='btn btn-outline-info'>{{text}}</div>
            {{/with}}
                </div>
            </div>
    {{/with}}

        {{#with advantage}}
            <div class='card mb-4'>
                <div class='card-body'>
                <div class='display-5'>{{title}}</div>
                <br />
                {{#with efficiency}}
                    <div class='card mb-4'>
                        <div class='card-body'>
                        <div class='display-4'>{{title}}</div>
                        <br />
                        <h6>{{sub_title}}</h6>
                        <p>{{description}}</p>
                        <div class='btn btn-outline-warning'>{{button}}</div>
                        </div>
                    </div>
                {{/with}}

                {{#with innovation}}
                    <div class='card mb-4'>
                        <div class='card-body'>
                        <div class='text-center display-4'>{{title}}</div>
                        <br />
                        <h6 class='text-center'>{{sub_title}}</h6>
                        <p class='text-center'>{{description}}</p>
                        <div class='btn btn-outline-warning'>{{button}}</div>
                        </div>
                    </div>
                {{/with}}

                {{#with collaboration}}
                    <div class='card'>
                        <div class='card-body'>
                        <div class='text-end display-4'>{{title}}</div>
                        <br />
                        <h6 class='text-end'>{{sub_title}}</h6>
                        <p class='text-end'>{{description}}</p>
                        <div class='btn btn-outline-warning'>{{button}}</div>
                        </div>
                    </div>
                {{/with}}
                </div>
            </div>
        {{/with}}

        {{#with agreement}}
            <div class='card'>
                <div class='card-body'>
                <div class='display-5'>{{title}}</div>
                {{#with info}}
                    <div class='card'>
                        <div class='card-body'>
                        <h5>{{sub_title}}</h5>
                        {{#with detail}}
                        <div class='card'>
                            <div class='card-body'>
                            <p>{{text}}</p>
                            <div class='btn btn-success'>{{button}}</div>
                            </div>
                        </div>
                        {{/with}}
                        </div>
                    </div>
                {{/with}}
                </div>
            </div>
        {{/with}}
{{/with}}
</main>